html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 25rem;
    background-color: black;
    background-image: url(./Assets/images/header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
} 

body {
    background-image: url(./Assets/images/portal.gif);
    background-size: 100%;
}

